# For more details, read the following article on GitHub: https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners.

# These are the default owners for the whole content of this repository.
@mkulke @lotharschulz