@reach-now:registry=https://mgns-2-586093893509.d.codeartifact.eu-west-1.amazonaws.com/npm/reach-now/
//mgns-2-586093893509.d.codeartifact.eu-west-1.amazonaws.com/npm/reach-now/:always-auth=true
//mgns-2-586093893509.d.codeartifact.eu-west-1.amazonaws.com/npm/reach-now/:_authToken=${CODEARTIFACT_AUTH_TOKEN}
